body{
    font-family: 'Roboto', sans-serif;
}
.bg-color-me{
    background: #E5E5E5;
}
.btn-custom{
    padding: 8px 25px;
    background-color: rgb(4, 245, 245);
    border-color: cyan;
    border-radius: 10px;
    
}
.btn-custom a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

}
.position-section{
    position:relative;
}
.position-section .inner-content{
    position: absolute;
    top: 350px;
    left: 50px;
}
.inner-content h1{
    font-size: 48px;
    color: white;
}
.inner-content p{
    color: white;
    font-size: 16px;
}