body{
    font-family: 'Roboto', sans-serif;
}
.bg-color-me{
    background: #E5E5E5;
}
.btn-custom{
    padding: 10px 35px;
    background-color: purple;
    border-color: purple;
    border-radius: 10px;
    
}
.btn-custom:hover a{
    color: white;
}
.btn-custom a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

}
.position-section{
    position:relative;
}
.position-section .inner-content{
    position: absolute;
    top: 350px;
    left: 50px;
}
.inner-content h1{
    font-size: 48px;
    color: white;
}
.inner-content p{
    color: white;
    font-size: 16px;
}
.info-moment p{
    font-size: 16px;
    line-height: 28px;


}
.info-moment .color-btn{
    margin-top: 30px;
    background-color: purple;
    border-radius: 10px;
    border-color: purple;
    padding: 15px 30px;
}
.info-moment .color-btn a{
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
/* card */
.card-body ul li{
    list-style: none;
    margin: 20px 0;
    color: #848199;

}
.card-body h1{
    color: #383870;
    font-weight: 700;
}
.card-body h3{
    color: #383870;
    font-weight: 600;
}
.card-body .h3{
    color: white;
    font-weight: 600;
}
.card-body p{
    color: #848199;
}
.card-body ul li i{
    color: #5243C2;
    font-size: 20px;
    margin-right: 15px;
}
.choose-plan a{
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    color: #6d5ed8;
}
.choose-plan{
    margin-top: 20px;
    padding: 20px 50px;
    border-radius: 35px;
    border-color: #F496D1;
    
}

.bg-dibo{
    background: #5243C2;
}
.bg-dibo h1,h3{
    color: white;
}
.bg-dibo p{
    color: white;
}
.bg-dibo ul li{
    color: white;
}
.card-body ul li .color-white{
    color: white;
    font-size: 20px;
    margin-right: 15px;
}
.choose-plan-light a{
    font-weight: 800;
    text-decoration: none;
    color: #6f66c0;
}
.choose-plan-light{
    margin-top: 20px;
    padding: 20px 50px;
    border-radius: 35px;
    border-color:#827ac5 ;
    
}
footer{
    background: #0B0D17;
    padding: 50px 0;
}

.google-apple h4{
    color: white;
}

.fa-apple{
    color: white;
    margin-right: 15px;
    font-size: 30px;
}
.bg-footer{
    background-color: black;
    height: 40px;
    width: 150px; 
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid cyan;


}
.bg-footer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.fa-google-play{
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
.text-left-color{
    color: white;
    font-size: 18px;
}
.bold-korbo{
    font-size: 40px;
    font-weight: 900;
}

/* Ressponsive with css  */

@media (max-width: 576px) { 
    .position-section{
        position: relative;
    }
    .position-section .inner-content {
        position: absolute;
        top: 50px;
        left: -50px;
    }
    .position-section p{
        font-size: 10px;
    }
    .position-section h1{
        font-size: 16px;
    }
    .soto-img{
        width: 300px;
    }

    /* .soto-img{
        width: 255px;
        height: 300px;
    }
    .color-btn a{
        font-size: 15px;
        padding: 0;
        font-weight: 400;
    }
    .info-moment{
        width: 240px;
        height: 300px;
    }
    .card-body{
        width: 250px;
        height: auto;
    }
    .soto-card{
        margin-top: 30px;
        width: 240px;
        height: 350px;

    }
    .cus-respo{
        width: 250px;
        height: auto;
    }
    .cus-respo .btn-custom{
        width: 180px;
    }
    .btn-custom{
        font-size: 18px;
       margin-right: 100px;
    }
    .soto-res{
        font-size: 16px;
        font-weight: bold;
        margin-right: 100px;
    }
    .accordion{
        width: 260px;
        height: auto;
    }
    .img-respo{
        width: 250px;
        height:auto;
    }
    footer{
        width: 256px;
        height:auto;
        text-align: center;
    } */

}


@media (mix-width: 768px) { 
    .position-section{
        position: relative;
    }
    .position-section .inner-content {
        position: absolute;
        top: 0px;
        left: 0px;
    }
 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 
    
}


@media (min-width: 1400px) { 
    
}